<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="maidcafeApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="maidcafeApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="maidcafeApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="maidcafeApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Maid Cafe Dashboard</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/html5-boilerplate/normalize.css">
  <link rel="stylesheet" href="css/html5-boilerplate/main.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.15-beta/nv.d3.min.css">

  <!-- Bootswatch theme -->
  <!--<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/superhero/bootstrap.min.css" rel="stylesheet">-->
  <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/united/bootstrap.min.css" rel="stylesheet">
  <!--<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/paper/bootstrap.min.css" rel="stylesheet">-->
  <!--<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/sandstone/bootstrap.min.css" rel="stylesheet">-->
  <!--<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/yeti/bootstrap.min.css" rel="stylesheet">-->

  <script src="js/dependencies/modernizr-2.6.2.min.js"></script>
  <script src="js/dependencies/moment.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/main">Maid Cafe</a>
      </div>

      <div id="mainMenu" collapse="isNavCollapsed" ng-controller="NavBarCtrl">
        <ul class="nav navbar-nav">
          <li ng-class="{active: isActive('/menu')}" ng-if="user"><a href="#/menu">Menu</a> </li>
          <li ng-class="{active: isActive('/maid')}" ng-if="user"><a href="#/maid">Maid</a></li>
          <li ng-class="{active: isActive('/kitchen')}" ng-if="user && user.accessLevel !== 'maid'"><a href="#/kitchen">Kitchen</a></li>
          <li ng-class="{active: isActive('/cashier')}" ng-if="user && (user.accessLevel === 'cashier' || user.accessLevel === 'admin')"><a href="#/cashier">Cashier</a></li>
          <li ng-class="{active: isActive('/stats')}" ng-if="user && user.accessLevel === 'admin'"><a href="#/stats">Stats <small>[beta]</small> </a> </li>
        </ul>

      </div>
    </div>
  </nav>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div ng-view></div>

  <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.js"></script>-->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-route.min.js"></script>

  <!-- Bootstrap -->
<!--  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>-->
  <!-- Angular-UI Bootstrap instead -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>
  <!--  ADDED FOR SAILS.JS -->
  <script src="js/dependencies/sails.io.js"></script>
  <script src="js/dependencies/angular-sails.min.js"></script>
  <script src="js/dependencies/checklist-model.js"></script>

  <!--D3-->
  <!--<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.15-beta/nv.d3.js"></script>
  <script src="js/dependencies/angularjs-nvd3-directives.js"></script>-->
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.15-beta/nv.d3.min.js"></script>
  <script src="js/dependencies/angularjs-nvd3-directives.min.js"></script>
  <!------------------------->
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>

  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
