<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h4>Table <%= table %></h4>
    </div>
  </div>
  <form method="post" action="/order/create" class="form-inline">
    <div class="row">
      <div class="col-xs-2">
        <label for="customerInput">Customer</label>
        <select id="customerInput" name="customer" class="form-control" required>
          <% customers.forEach(function(customer){ %>
            <option value="<%= customer.id%>"><%= customer.name %></option>
          <%})%>
        </select>
      </div>
      <div class="col-xs-2 col-xs-offset-7">
        <button type="submit" class="btn btn-default">Place Order</button>
      </div>
    </div>
    <hr>
    <div class="row">
      <% menuitems.forEach(function(category){ %>
        <% include tables.ejs %>
      <%})%>
    </div>

  </form>
</div>
