<div class="container-fluid">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  <!--outer row-->
  <div class="row" id="main-row">
    <!--left hand side-->
    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-4">
          <form class="form-inline">
            <label for="tableSelection">Table</label>
            <select id="tableSelection" ng-model="filter.table" class="form-control">
              <option value=""></option>
              <option ng-repeat="table in tables" value="{{table}}">{{table}}</option>
            </select>
          </form>
        </div>
        <!--<div class="col-xs-2 col-xs-offset-1">
          <button class="btn btn-md btn-danger" ng-click="checkoutCustomers()">Checkout selected</button>
        </div>-->
      </div>

      <hr>

      <div class="row">
        <table class="table table-hover table-condensed">
          <colgroup>
            <col width="10%">
            <col width="55%">
            <col width="15%">
            <col width="20%">
          </colgroup>

          <tr>
            <!--<th><span class="glyphicon glyphicon-check"></span></th>-->
            <th>Table</th>
            <th>Name</th>
            <th>Balance</th>
            <th>Operation</th>
          </tr>
          <tr ng-repeat="customer in customers" ng-show="customer.table == filter.table || !filter.table">
            <!--<td><input type="checkbox" checklist-model="selectedCustomers" checklist-value="customer"></td>-->
            <td>{{customer.table}}</td>
            <td>{{customer.name}}</td>
            <td>$ {{getTotal(customer)}}</td>
            <td><button class="btn btn-xs btn-danger" ng-click="checkout(customer)"><span class="glyphicon glyphicon-shopping-cart"></span> Checkout</button></td>
          </tr>
        </table>
      </div>
    </div>
    <!--right hand side-->
    <div class="col-xs-4 col-xs-offset-4 " id="checkoutPane" collapse="isCheckoutCollapsed">
      <div class="well">
        <h2><span class="glyphicon glyphicon-shopping-cart"></span> Checkout</h2>
        <div ng-repeat="selectedCustomer in selectedCustomers">
          <h3>Table: {{selectedCustomer.table}} | Customer: {{selectedCustomer.name}}</h3>
          <hr>
          <h3>Orders</h3>
          <table class="table table-hover table-condensed">
            <colgroup>
              <col width="80%">
              <col width="20%">
            </colgroup>
            <tr>
              <th>Menu item</th>
              <th>Price</th>
            </tr>
            <tr ng-repeat="customerOrder in selectedCustomer.orders">
              <td>{{customerOrder.menuItem.name}}</td>
              <td>${{customerOrder.menuItem.price}}</td>
            </tr>
          </table>
          <hr>
          <h3 align="right">Total: ${{getTotal(selectedCustomer)}}</h3>
          <hr>
          <div align="right">
            <button class="btn btn-md btn-default" ng-click="cancelCheckout()">Cancel</button>
            <button class="btn btn-md btn-danger" ng-click="confirmCheckout(selectedCustomer)"><span class="glyphicon glyphicon-shopping-cart"></span> Checkout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
