<div class="container-fluid">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  <div class="row">
    <form class="form-inline">
      <div class="col-sm-2">
        <label for="tableSelection">Table</label>
        <select id="tableSelection" ng-model="newOrder.table" class="form-control" required>
          <option value=""></option>
          <option ng-repeat="table in tables" value="{{table}}">{{table}}</option>
        </select>
      </div>

      <!--Add a customer while we're at it-->
      <div class="col-sm-4 col-sm-offset-1">
        <label for="customerNameInput">Add customer: </label>
        <input id="customerNameInput" type="text" class="form-control" ng-model="newCustomer.name" required>

        <button type="submit" class="btn btn-default" ng-show="newOrder.table > 0" ng-click="createCustomer(newCustomer)"><span class="glyphicon glyphicon-plus"></span> </button>
      </div>
    </form>
  </div>
  <hr ng-show="newOrder.table > 0">

  <div class="row" ng-show="newOrder.table > 0">
    <div class="col-xs-2">
      <button class="btn btn-default" type="button" ng-click="isAddOrderCollapsed = !isAddOrderCollapsed">
        New order
      </button>
    </div>
  </div>

  <!--Add an order-->
  <div collapse="isAddOrderCollapsed">
    <div class="well">
      <form class="form-inline">
        <div class="row">
          <div class="col-sm-3">
            <label for="customerSelection">Customer</label>
            <select id="customerSelection" ng-model="newOrder.customer" class="form-control"required>
              <option ng-repeat="customer in customers | filter:newOrder.table" ng-show="customer.table == newOrder.table" value="{{customer.id}}">{{customer.name}}</option>
            </select>
          </div>
        </div>

        <!--Also show the menu-->
        <div class="row">
          <div class="col-xs-3 table-responsive" ng-repeat="category in categories" ng-show="category.items.length">
            <div class="panel panel-default">
              <div class="panel-heading">{{category._id.toUpperCase()}}</div>
              <div class="panel-body" id="{{category._id.toLowerCase()}}Panel">
                <table class="table table-hover table-condensed">
                  <colgroup>
                    <col width="10%">
                    <col width="25%">
                    <col width="65%">
                  </colgroup>

                  <tr>
                    <th><span class="glyphicon glyphicon-check"></span></th>
                    <th>Shortname</th>
                    <th>Name</th>
                  </tr>
                  <tr ng-repeat="datum in category.items | orderBy:'shortname'">
                    <td><input type="checkbox" checklist-model="newOrder.orders" checklist-value="datum"></td>
                    <td>{{datum.shortname}}</td>
                    <td>{{datum.name}}</td>
                  </tr>
                </table>
              </div>
            </div>

          </div>
        </div>

        <!--Place the order-->
        <div class="row">
          <div class="col-xs-2">
            <button type="submit" class="btn btn-default" ng-click="createOrder(newOrder)">Place order</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <hr>

  <div class="row">
    <table class="table table-hover table-condensed">
      <colgroup>
        <col width="5%">
        <col width="40%">
        <col width="35%">
        <col width="10%">
        <col width="10%">
      </colgroup>

      <tr>
        <th>Table</th>
        <th>Name</th>
        <th>Menu Item</th>
        <th>Status</th>
        <th>Operations</th>
      </tr>
      <tr ng-repeat="order in orders" ng-show="order.table == newOrder.table || !newOrder.table">
        <td>{{order.table}}</td>
        <td>{{order.customer.name}}</td>
        <td>{{order.menuItem.name}}</td>
        <td ng-switch on="order.state">
          {{order.state}}
          <span class="glyphicon glyphicon-bell" ng-switch-when="preparing" style="color:orange"></span>
          <span class="glyphicon glyphicon-bell" ng-switch-when="ready" style="color:green"></span>
          <span class="glyphicon glyphicon-bell" ng-switch-default style="color:red"></span>
        </td>
        <td>
          <button class="btn btn-xs btn-success" ng-show="order.state == 'ready'" ng-click="serveOrder(order)">Order served</button>
        </td>
      </tr>
    </table>
  </div>

</div>
