<div class="page-header">
  <h1>Menu</h1>
</div>
<div class="top">
  <p>
    <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#menuAdd" aria-expanded="false" aria-controls="menuAdd">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </p>

  <div class="collapse" id="menuAdd">
    <div class="well">
      <form method="post" action="/menu/create" class="form-inline">
        <label for="menuName">Name</label>
        <input type="text" class="form-control" id="menuName" name="name" required>

        <label for="menuShortName">Shortname</label>
        <input type="text" class="form-control" id="menuShortName" name="shortname" placeholder="ex: M01" required>

        <label for="menuCategory">Category</label>
        <select id="menuCategory" name="category" class="form-control" required>
          <option value="entree">Entrée</option>
          <option value="main">Main</option>
          <option value="side">Side</option>
          <option value="desert">Desert</option>
          <option value="drink">Drink</option>
        </select>

        <label for="menuPrice">Price</label>
        <input type="number" class="form-control" min="0" step="any" id="menuPrice" name="price" required>

        <button type="submit" class="btn btn-default" id="menuCreateButton">Add</button>
      </form>
    </div>
  </div>
</div>
